#root {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	text-align: center;
}

.App {
	max-width: 1400px;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: var(--light-grayish-blue);
}

.menu-button {
	display: none;
}

.app-content {
	max-width: 1400px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 100px;
	gap: 60px;
}

@media screen and (max-width: 980px) {
	.app-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		gap: 20px;
	}
}

@media screen and (max-width: 500px) {
	.app-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin-top: 10px;
		gap: 10px;
	}
}
