.image-gallery-container {
	width: 100vw;
	height: 100vh;
	background-color: hsl(220, 13%, 13%, 0.9);

	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.close-gallery {
	display: none;
}

.close-btn-container {
	max-width: 500px;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	justify-content: right;
}

.close-btn-container svg {
	margin-right: 2px;
	filter: invert(50%) sepia(62%) saturate(846%) hue-rotate(343deg)
		brightness(104%) contrast(108%);
	transform: scale(1.2);
	cursor: pointer;
}

.image-gallery-container .arrows {
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 450px;
	margin-bottom: 100px;
}

.image-gallery-container .next-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-grayish-blue);
	padding: 15px 17px;
	border-radius: 30px;
	cursor: pointer;
}

.image-gallery-container .arrow-left svg {
	transform: rotate(180deg);
}

.image-gallery-container .arrow-left svg:hover,
.image-gallery-container .arrow-right svg:hover {
	filter: invert(50%) sepia(62%) saturate(846%) hue-rotate(343deg)
		brightness(104%) contrast(108%);
}

.image-gallery-container .thumbnails {
	max-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: row;

	margin: 0 auto;
	margin-top: 25px;
}

.thumbnails button {
	border: none;
	background: none;
	display: flex;
	cursor: pointer;
}

button.selected {
	border: 3px solid var(--orange);
	padding: 0;
	border-radius: 20px;
}
