.image-gallery-container {
	width: 100vw;
	height: 100vh;
	background-color: var(--very-dark-blue);
	position: absolute;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.arrows {
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 460px;
	margin-bottom: 100px;
}

.next-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-grayish-blue);
	padding: 15px 17px;
	border-radius: 30px;
}

.arrow-left svg {
	transform: rotate(180deg);
}
