.shopping-cart-container {
	display: none;
	background-color: var(--light-grayish-blue);
	border-radius: 8px;
	max-width: 340px;
	width: 100%;
	position: absolute;
	top: 90px;
	right: 50px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shopping-cart-container.show {
	display: block;
}

.cart-naming {
	text-align: left;
	border-bottom: 1px solid hsl(0, 0%, 96%);
}

.cart-naming p {
	margin-left: 20px;
	font-weight: 600;
}

.cart-empty-naming p {
	font-weight: 600;
	color: var(--dark-grayish-blue);
	padding: 60px 0;
}

.cart-items {
	display: flex;
	justify-content: center;
}

.item {
	width: 305px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	color: var(--dark-grayish-blue);
	margin: 15px 0;
}

.item img {
	width: 50px;
	border-radius: 5px;
}

.item-description p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.item-price {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.item-price > p {
	margin: 0 3px;
}

.item-end-price {
	font-weight: 500;
	color: var(--black);
}

.checkout-button-container {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.checkout-button-container button {
	width: 305px;
	border: none;
	background-color: var(--orange);
	padding: 15px 0;
	color: var(--white);
	font-weight: 600;
	border-radius: 10px;
}

@media screen and (max-width: 375px) {
	.cart-naming {
		border-bottom: 1px solid hsl(0, 9%, 85%);
	}

	.shopping-cart-container {
		width: 320px;
		left: 50%;
		transform: translateX(-50%);
	}

	.item {
		margin: 20px 0;
	}
}
